h1{
    width: 85%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #37bea8;
}
p{
    font-size: 18px;
}

.clear{
    clear: both;
}

.mytext{
    border:0;padding:10px;background:whitesmoke;
}

.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:5px;width:100%;display:flex;
}
ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:32px;
    display:flex;
    flex-direction: column;

}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}

input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}

/*Debin*/
.complete-background-debin{
    background-image:url("/images/debin-background.png");
    height: 100%;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}   

.chat-container-debin {
    float: right;
    bottom: 15px;
    position: fixed;
    right: 30px;
    height: 435px;
    width: 400px;
}

.responses-debin{
    height: 352px;
    border-radius:0px;
}

.write-question-debin{
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.write-question-debin .text{
    width: 100%;
}

.chat-header{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 33px;
    background-color: #75fdbd;
}

.chat-header p{
    padding-left: 10px;
    font-size: 16px;
}

.text-response{
    width: 100%;
    overflow-y: scroll;
}

.message-response{
    color: #333;
    width: 70%;
    border-radius: 5px;
    font-size: 15px;
    float: left;
    background-color: #e5e5e5;
    margin-left: 15px;
}

.message-question {
    color:#333;
    width: 70%;
    border-radius: 5px;
    font-size: 15px;
    float: right;
    background-color: #d5feeb;
    margin-right: 15px;
}

.messagesWrapper p{
    padding: 10px;
}

.slider{
    background-color: white;
}

.slider-left-arrow{
    width: 20px;
}

.slider-right-arrow{
    width: 20px;
}


.slider-img img{
    width: 350px;
}

.slider-img img.middle{
    width: 330px;
}

.slider-img img.arrow{
    width: 20px;
    margin: 5px;
}

.slider-container{
    width: 1200px;
    overflow: auto;

}

.buttons-container{
    margin-left: 15px;
}

.button-option{
    background-color: #75fdbd;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
}

.button-option p{
    font-size: 16px;
}
